
*.o

*.bk

*.pyc

*.so

.ropeproject/config.py

.ropeproject/history

.ropeproject/objectdb

*.outputConstitutive

*.outputCrystallite

*.outputHomogenization

*.spectralOut

documentation/development.aux

documentation/development.log

documentation/development.out

documentation/development.synctex.gz

documentation/demoStrainRefine.log

documentation/annotated.tex

documentation/*.tex

*.aux

*.log

*.gz

*.out

*.idx

*.ilg

*.ind

*.toc

*.eps

documentation/classcyxtal_1_1ext__aps_1_1parsers_1_1_voxel_step.pdf

html/*

documentation/doxygen.sty

documentation/Makefile

documentation/classcyxtal_1_1geometry_1_1_line.pdf

documentation/classcyxtal_1_1geometry_1_1_line2_d.pdf

documentation/classcyxtal_1_1geometry_1_1_plane.pdf

documentation/classcyxtal_1_1geometry_1_1_point.pdf

documentation/classcyxtal_1_1geometry_1_1_point2_d.pdf

documentation/classcyxtal_1_1geometry_1_1_polygon2_d.pdf

tests/geomviz.vtp

tests/sample.geom

*.ipynb
.vscode/settings.json
