
*.o

*.bk

*.pyc

*.so

.ropeproject/config.py

.ropeproject/history

.ropeproject/objectdb

*.outputConstitutive

*.outputCrystallite

*.outputHomogenization

*.spectralOut

documentation/development.aux

documentation/development.log

documentation/development.out

documentation/development.synctex.gz

documentation/demoStrainRefine.log
