# Cython derivables
*.o
*.so

# Tex related
*.aux
*.log
*.gz
*.out
*.idx
*.ilg
*.ind
*.toc
*.eps

# MAC OS
*.DS_Store
*.plist

# local develop files
*.out
*.out.DSYM

# python
__pycache__
*.pyc

# local private files
private