PROJECT_NAME          = CYXTAL
INPUT                 = ctools.pyx cxtallite.pyx ext_aps
FILE_PATTERNS         = *.py *.pyx
GENERATE_LATEX        = YES
WARNINGS              = YES
PERL_PATH             = /usr/bin/perl
LATEX_OUTPUT          = documentation
OPTIMIZE_OUTPUT_JAVA  = YES
EXTENSION_MAPPING     = pyx=Python